@import "~normalize.css";
@import "roboto.css";

body{
    font-family: "Roboto", sens-serif;
}
.container{
    padding-top: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.logo{
    background-image: url("../assets/img1.png");
    background-size: cover;
    width: 300px;
    height: 200px;
    margin: 0 auto;
}

pre{
    color: red;
}